@{
    ViewBag.Title = "Контакты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Natasha_yudina.ru.Models.ContactModel

<div class="contact-container">
    <table class="contact-table">
        <tr>
            <td class="who"><a href="mailto: cosmic_young@mail.ru">Наташа Юдина</a>&nbsp;<span>Художник</span></td>
            <td class="value">
                <a href="mailto: cosmic_young@mail.ru">cosmic_young@mail.ru</a>
                <div class="fb_logo">
                    <a href="https://www.facebook.com/natasha.yudina.75" target="_blank"></a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="who"><a href="mailto: svetlana-beliaeva@yandex.ru">Светлана Гридчина</a>&nbsp;<span>Покупка работ, организация выставок</span></td>
            <td class="value"><a href="mailto: svetlana-beliaeva@yandex.ru">svetlana-beliaeva@yandex.ru</a></td>
        </tr>
        <tr>
            <td class="who"><a href="mailto: gridchinhall@gmail.com">Антон Марьясов</a>&nbsp;<span>Пресса, коммуникации</span></td>
            <td class="value"><a href="mailto: gridchinhall@gmail.com">gridchinhall@gmail.com</a></td>
        </tr>
        <tr>
            <td class="who"><a href="http://www.gridchinhall.ru/rezidenti/natasha-yudina#cv">Гридчинхолл</a>&nbsp;<span>Просмотр работ</span></td>
            <td class="value">
                <span><a href="http://www.gridchinhall.ru" style="color: #999;" target="_blank">www.gridchinhall.ru</a></span><br/>
                143422, Россия, Московская область, Красногорский район, Ильинское шоссе, село Дмитровское, улица Центральная, 23<br/>
                <span>
                    +7 495 635 02 35<br/>
                    +7 909 634 52 14<br/>
                </span>
            </td>
        </tr>
    </table>
    @*<div class="contact-form">
            @using (Html.BeginForm("ContactForm", "Home", FormMethod.Post, new {@id = "contactForm"}))
            {
                <div class="row">
                    <span class="labels">
                        @Html.Label("ФИО")
                    </span>
                    <span>
                        @Html.TextBoxFor(m => m.Name, new {@id = "name"})
                    </span>
                </div>
                <div class="row">
                    <span class="labels">
                        @Html.Label("Email")
                    </span>
                    <span>
                        @Html.TextBoxFor(m => m.Email, new {@id = "email"})
                    </span>
                </div>
                <div class="row">
                    <span class="labels">
                        @Html.Label("Заголовок")
                    </span>
                    <span>
                        @Html.TextBoxFor(m => m.Subject, new {@id = "subject"})
                    </span>
                </div>
                <div class="row">
                    <span class="labels for-mes">
                        @Html.Label("Сообщение")
                    </span>
                    <span>
                        @Html.TextAreaFor(m => m.Message, 5, 1, new {@class = "mes"})
                    </span>
                </div>
                <div class="row">
                    <span class="button">
                        <a href="#"><input class="large" type="button" value="Отправить" onclick="$('#contactForm').submit()" /></a>
                    </span>
                </div>
            }
        </div>
        <div class="contact-description">
            
        </div>*@
</div>