@{
    ViewBag.Title = Resources.Resources.Gallery;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/scrollingcarousel.2.0.min.js")"></script>

<div class="left-panel">
    <div id="project1" class="item">
        <hr/>
        <h2>@Resources.Resources.Project1_Name</h2>
        <div>
            <div class="big-view">
                <a href="@Url.Content("~/Content/img/gallery/1_1.jpg")" data-lightbox="image-1" title="My caption">
                    <img src="@Url.Content("~/Content/img/gallery/1_1.jpg")"/>
                </a>
            </div>
            <div class="description">
                <p>Урбанистический пейзаж сквозь завесу дождя - предмет интереса моей художественной практики. Футуристические небоскрёбы, едва уловимые очертания Нью-Йорка, Москва-Сити подчеркнуто монохромны: эмоционально сдержанный, беспристрастный серый, концентрический, организованный, идеализированный, погружающий в сновидения - индиго...</p>
            </div>
        </div>
        <div id="carousel" class="carousel">
            <ul>
                <li img="1_1.jpg" style="background: url(/Content/img/gallery/1_1_middle.jpg) no-repeat center center;"></li>
            </ul>
        </div>
    </div>
    <div id="project2" class="item">
        <hr/>
        <h2>@Resources.Resources.Project2_Name</h2>
        <div>
            <div class="big-view">
                <img src="@Url.Content("~/Content/img/gallery/2_1.jpg")"/>
            </div>
            <div class="description">
                <p>Моя постель, мое ложе, мое спальное место, располагается в прилегающей части студии Gridchinhall на втором этаже, наверное, здесь уместней написать "жилой" зоны Gridchinhall. <br />Моя постель - выкрашенный в белый цвет, деревянный каркас дивана с белыми подушками, периной и выдвижными ящиками для белья - в духе интерьеров из фильмов Jean-Pierre Jeunet & Marc Caro. Должна признать, что диван - невероятно милый, уютный и интимный. Интимный, поскольку не предполагает для сна второй персоны, тоже что "личный", потому приятен для уединенного, созерцательно отдыха, встреч с Морфеем и просмотра сновидений...</p>
            </div>
        </div>
        <div id="carousel" class="carousel">
            <ul>
                <li img="2_1.jpg" style="background: url(/Content/img/gallery/2_1_middle.jpg) no-repeat center center;"></li>
                <li img="2_2.jpg" style="background: url(/Content/img/gallery/2_2_middle.jpg) no-repeat center center;"></li>
                <li img="2_3.jpg" style="background: url(/Content/img/gallery/2_3_middle.jpg) no-repeat center center;"></li>
                <li img="2_4.jpg" style="background: url(/Content/img/gallery/2_4_middle.JPG) no-repeat center center;"></li>
                <li img="2_5.jpg" style="background: url(/Content/img/gallery/2_5_middle.jpg) no-repeat center center;"></li>
                <li img="2_6.jpg" style="background: url(/Content/img/gallery/2_6_middle.JPG) no-repeat center center;"></li>
                <li img="2_7.jpg" style="background: url(/Content/img/gallery/2_7_middle.jpg) no-repeat center center;"></li>
                <li img="2_8.jpg" style="background: url(/Content/img/gallery/2_8_middle.JPG) no-repeat center center;"></li>
                <li img="2_9.jpg" style="background: url(/Content/img/gallery/2_9_middle.JPG) no-repeat center center;"></li>
            </ul>
        </div>
    </div>
    <div id="project3" class="item">
        <hr/>
        <h2>@Resources.Resources.Project3_Name</h2>
        <div>
            <div class="big-view">
                <img src="@Url.Content("~/Content/img/gallery/3_1.jpg")"/>
            </div>
            <div class="description">
                <p>Моя постель, мое ложе, мое спальное место, располагается в прилегающей части студии Gridchinhall на втором этаже, наверное, здесь уместней написать "жилой" зоны Gridchinhall. <br />Моя постель - выкрашенный в белый цвет, деревянный каркас дивана с белыми подушками, периной и выдвижными ящиками для белья - в духе интерьеров из фильмов Jean-Pierre Jeunet & Marc Caro. Должна признать, что диван - невероятно милый, уютный и интимный. Интимный, поскольку не предполагает для сна второй персоны, тоже что "личный", потому приятен для уединенного, созерцательно отдыха, встреч с Морфеем и просмотра сновидений...</p>
            </div>
        </div>
        <div id="carousel" class="carousel">
            <ul>
                <li img="3_1.jpg" style="background: url(/Content/img/gallery/3_1_middle.jpg) no-repeat center center;"></li>
                <li img="3_2.jpg" style="background: url(/Content/img/gallery/3_2_middle.jpg) no-repeat center center;"></li>
                <li img="3_3.jpg" style="background: url(/Content/img/gallery/3_3_middle.jpg) no-repeat center center;"></li>
            </ul>
        </div>
    </div>
    <div id="project4" class="item">
        <hr/>
        <h2>@Resources.Resources.Project4_Name</h2>
        <div>
            <div class="big-view">
                <img id="test" src="@Url.Content("~/Content/img/gallery/4_11.jpg")"/>
            </div>
            <div class="description">
                <p>Серия ранних работ, где главные персонажи - старые игрушки. В случайно подсмотренных бытовых ситуациях можно встретить сходство с реалистичными пейзажеми, которые заменили современному человеку любимые предметы домашнего уюта: диван, ковёр, обои...</p>
            </div>
        </div>
        <div id="carousel" class="carousel">
            <ul>
                <li img="4_11.jpg" style="background: url(/Content/img/gallery/4_11_middle.jpg) no-repeat center center;"></li>
                <li img="4_22.jpg" style="background: url(/Content/img/gallery/4_22_middle.jpg) no-repeat center center;"></li>
                <li img="4_33.jpg" style="background: url(/Content/img/gallery/4_33_middle.jpg) no-repeat center center;"></li>
                <li img="4_44.jpg" style="background: url(/Content/img/gallery/4_44_middle.jpg) no-repeat center center;"></li>
                <li img="4_55.jpg" style="background: url(/Content/img/gallery/4_55_middle.jpg) no-repeat center center;"></li>
                <li img="4_66.jpg" style="background: url(/Content/img/gallery/4_66_middle.jpg) no-repeat center center;"></li>
                <li img="4_77.jpg" style="background: url(/Content/img/gallery/4_77_middle.jpg) no-repeat center center;"></li>
                <li img="4_88.jpg" style="background: url(/Content/img/gallery/4_88_middle.jpg) no-repeat center center;"></li>
                <li img="4_99.jpg" style="background: url(/Content/img/gallery/4_99_middle.jpg) no-repeat center center;"></li>
                <li img="4_110.jpg" style="background: url(/Content/img/gallery/4_110_middle.jpg) no-repeat center center;"></li>
                <li img="4_111.jpg" style="background: url(/Content/img/gallery/4_111_middle.jpg) no-repeat center center;"></li>
                <li img="4_112.jpg" style="background: url(/Content/img/gallery/4_112_middle.jpg) no-repeat center center;"></li>
                <li img="4_113.jpg" style="background: url(/Content/img/gallery/4_113_middle.jpg) no-repeat center center;"></li>
            </ul>
        </div>
    </div>
    <div id="project5" class="item">
        <hr/>
        <h2>@Resources.Resources.Project5_Name</h2>
        <div>
            <div class="big-view">
                <img src="@Url.Content("~/Content/img/gallery/5_1.jpg")"/>
            </div>
            <div class="description">
                <p>Ироничная инсталляция на тему дизайна, моды и гламура. Игра в безумного декоратора, одержимого идеей-фикс - модным орнаментом, увлечение которым вкупе с желанием быть в тренде, несколько преувеличенно.</p>
            </div>
        </div>
        <div id="carousel" class="carousel">
            <ul>
                <li img="5_1.jpg" style="background: url(/Content/img/gallery/5_1_middle.jpg) no-repeat center center;"></li>
                <li img="5_2.jpg" style="background: url(/Content/img/gallery/5_2_middle.jpg) no-repeat center center;"></li>
                <li img="5_3.jpg" style="background: url(/Content/img/gallery/5_3_middle.jpg) no-repeat center center;"></li>
                <li img="5_4.jpg" style="background: url(/Content/img/gallery/5_4_middle.JPG) no-repeat center center;"></li>
            </ul>
        </div>
    </div>
</div>

<div class="right-panel">
    <a href="#project1" class="small-item">
        <div class="img" style="background: url(/Content/img/gallery/1_1_small.jpg) no-repeat center center;"></div>
        <div class="name">
            <p>@Resources.Resources.Project1_Name</p>
        </div>
    </a>
    <a href="#project2" class="small-item">
        <div class="img" style="background: url(/Content/img/gallery/2_1_small.jpg) no-repeat center center;"></div>
        <div class="name">
            <p>@Resources.Resources.Project2_Name</p>
        </div>
    </a>
    <a href="#project3" class="small-item">
        <div class="img" style="background: url(/Content/img/gallery/3_1_small.jpg) no-repeat center center;"></div>
        <div class="name">
            <p>@Resources.Resources.Project3_Name</p>
        </div>
    </a>
    <a href="#project4" class="small-item">
        <div class="img" style="background: url(/Content/img/gallery/4_11_middle.jpg) no-repeat center center;"></div>
        <div class="name">
            <p>@Resources.Resources.Project4_Name</p>
        </div>
    </a>
    <a href="#project5" class="small-item">
        <div class="img" style="background: url(/Content/img/gallery/5_1_middle.jpg) no-repeat center right;"></div>
        <div class="name">
            <p>@Resources.Resources.Project5_Name</p>
        </div>
    </a>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('.carousel').scrollingCarousel({
		    looped: true
		});

	    $('.carousel li').click(function() {
	        $(this).parent().parent().parent().find('.big-view img').attr('src', '/Content/img/gallery/' + $(this).attr('img'));
	    });
	});
</script>