@{
    ViewBag.Title = Resources.Resources.Gallery;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/scrollingcarousel.2.0.js")"></script>

<div class="left-panel">
    <div id="project1" class="item">
        <hr/>
        <h2>@Resources.Resources.Project1_Name</h2>
        <div class="image-container">
            <div class="big-view">
                <a href="@Url.Content("~/Content/img/gallery/1_1.jpg")" data-lightbox="project1" title="New York City. 2013. Холст, масло. 170х130">
                    <img src="@Url.Content("~/Content/img/gallery/1_1.jpg")"/>
                </a>
            </div>
            <div class="description">
                <div class="short">
                    <p>Урбанистический пейзаж сквозь завесу дождя - предмет интереса моей художественной практики. Футуристические небоскрёбы, едва уловимые очертания Нью-Йорка, Москва-Сити подчеркнуто монохромны: эмоционально сдержанный, беспристрастный серый, концентрический, организованный, идеализированный, погружающий в сновидения - индиго...</p>
                    <a class="show-all">Читать далее</a>
                    <p class="image-name">New York City. 2013. Холст, масло. 170х130</p>
                </div>
                <p class="full">
                    Урбанистический пейзаж сквозь завесу дождя - предмет интереса моей художественной практики. Футуристические небоскрёбы, едва уловимые очертания Нью-Йорка, Москва-Сити подчеркнуто монохромны: эмоционально сдержанный, беспристрастный серый, концентрический, организованный, идеализированный, погружающий в сновидения - индиго. Вода ассоциируется с ощущением эфемерности, мимолетности и невесомости существования. Эфемерность, податливость, бесформенность образа воды явно противоречит образу грузного, непоколебимого, неподвижного небоскрёба из стали и бетона - символу мегаполиса, символу могущества инженерной мысли, символу человеческих амбиций и гордыни. Амбициозный, величественный небоскрёб как завершённый проект Вавилонской башни. Текучая  вода, это и сакральное сравнение со временем – вода неизбежно утекает, как и утекают дни, годы, века.Подобное противоречие видится мне весьма любопытным поводом продолжить художественную практику, итогом которого и станет художественный проект, одновременно эфемерный, но амбициозный, невесомый, но из плоти и крови, мимолетный, но технически выверенный, податливый, но идеализированный...<br /><br/><br/>
                    @*<span class="author">Наташа Юдина</span>*@
                </p>
            </div>
        </div>
        <div id="carousel" class="carousel">
            <ul>
                <li img="1_1.jpg" style="background: url(/Content/img/gallery/1_1_middle.jpg) no-repeat center center;"></li>
            </ul>
        </div>
    </div>
    <div id="project2" class="item">
        <hr/>
        <h2>@Resources.Resources.Project2_Name</h2>
        <div class="image-container">
            <div class="big-view">
                <a href="@Url.Content("~/Content/img/gallery/2_1.jpg")" data-lightbox="project2"title="Слияние двух лун / Two Moon Junction. 2012. Холст, масло. 180х140">
                    <img src="@Url.Content("~/Content/img/gallery/2_1.jpg")"/>
                </a>
                <a href="@Url.Content("~/Content/img/gallery/2_2.jpg")" data-lightbox="project2" title="Сладкий сон. Интимные записки / Sogno. Corti Circuiti. Erotici. 2012. Холст, масло. 180х140"></a>
                <a href="@Url.Content("~/Content/img/gallery/2_3.jpg")" data-lightbox="project2" title="Жар  тела / Body Heat . 2012.  Холст, масло. 180х140"></a>
                <a href="@Url.Content("~/Content/img/gallery/2_4.jpg")" data-lightbox="project2" title="37,2° утром / 37°2 le matin. 2012.  Холст, масло. 140х110"></a>
                <a href="@Url.Content("~/Content/img/gallery/2_5.jpg")" data-lightbox="project2" title="Порнографические связи / Une liaison pornographique. 2012. Холст, масло. 180х140"></a>
                <a href="@Url.Content("~/Content/img/gallery/2_6.jpg")" data-lightbox="project2" title="Записки у изголовья / The Pillow Book. 2012. Холст, масло. 180х140"></a>
                <a href="@Url.Content("~/Content/img/gallery/2_7.jpg")" data-lightbox="project2" title="Черный ангел / Senso'45. 2012. Холст, масло. 180х140"></a>
                <a href="@Url.Content("~/Content/img/gallery/2_8.jpg")" data-lightbox="project2" title="Цвет ночи / Color of night. 2012. Холст, масло. 180х140"></a>
                <a href="@Url.Content("~/Content/img/gallery/2_9.jpg")" data-lightbox="project2" title="Голубая лагуна /The Blue Lagoon. 2012.  Холст, масло. 180х140"></a>
                <a href="@Url.Content("~/Content/img/gallery/2_10.jpg")" data-lightbox="project2" title="О, женщины! / Fallo! 2012. Холст, масло. 146х95"></a>
                <a href="@Url.Content("~/Content/img/gallery/2_11.jpg")" data-lightbox="project2" title="Все леди делают это / Cosi fan tutte. 2012.  Холст, масло. 180х140"></a>
                <a href="@Url.Content("~/Content/img/gallery/2_12.jpg")" data-lightbox="project2" title="Дневная красавица / Belle de jour. 2012.  Холст, масло. 180х140"></a>
            </div>
            <div class="description">
                <div class="short">
                    <p>Дети до 16-ти лет не допускаются» – можно было прочесть на киноафишах в недавнем прошлом. Cкорее всего это означало, что фильм содержал, как их тогда называли, «постельные сцены». Разумеется, к фильмам с этим грифом проявлялся повышенный интерес как со стороны тех, кому уже исполнилось шестнадцать, так и со стороны младшей аудитории, даже если сцены были вполне невинными...</p>
                    <a class="show-all">Читать далее</a>
                    <p class="image-name">Слияние двух лун / Two Moon Junction. 2012. Холст, масло. 180х140</p>
                </div>
                <p class="full">
                    Дети до 16-ти лет не допускаются» – можно было прочесть на киноафишах в недавнем прошлом. Cкорее всего это означало, что фильм содержал, как их тогда называли, «постельные сцены». Разумеется, к фильмам с этим грифом проявлялся повышенный интерес как со стороны тех, кому уже исполнилось шестнадцать, так и со стороны младшей аудитории, даже если сцены были вполне невинными.<br/><br/><br />
                    Моя постель, мое ложе, мое спальное место, располагается в прилегающей части студии Gridchinhall на втором этаже, наверное, здесь уместней написать "жилой" зоны Gridchinhall. <br />Моя постель - выкрашенный в белый цвет, деревянный каркас дивана с белыми подушками, периной и выдвижными ящиками для белья - в духе интерьеров из фильмов Jean-Pierre Jeunet & Marc Caro. Должна признать, что диван - невероятно милый, уютный и интимный. Интимный, поскольку не предполагает для сна второй персоны, тоже что "личный", потому приятен для уединенного, созерцательно отдыха, встреч с Морфеем и просмотра сновидений...<br/>
                    Почему столько внимания постели? Потому что сегодня и сейчас постель - предмет предмет моего художественного интереса здесь, в Gridchinhall. Постель, поскольку, мой родной дом не очень разнообразен в плане интерьера, постель - просто я крайне мало видела мир, постель - потому что, она всегда на глазах и, как море у Айвозовского, переменчива... По сути, созерцание собственной постели сродни медитации и трепету перед природной стихией. Я могу часами рассматривать свою постель каждое утро, наблюдать, как луч света, что падает в окно, сперва, словно солнечный блик, на вершине вздыбленного, скомканного в красивую вспененую волну, одеяла, затем медленно разрастается в полоску яркого пастозного света, затем, также медленно, ползёт ближе к подушке - кучной и пышной, подобно валуну у берега в морской воде. Апофеоз природного явления наступает, когда луч света заливает большую часть одеяла и подушки - постель словно вспыхивает светом, озаряет, слепит глаза! Тень от складок на одеяле в этот момент холодная, синяя, почти прозрачная, тогда как свет - густой, пастозный и теплый... <br/>
                    В пасмурную погоду - моя постель другая. Когда солнце скрыто за плотным слоем облаков и в воздухе точно убавили свет в целях экономии, тени сглаживаются. Свет, падающий в комнату из окна - становится мягким, танственным, почти Рембрандтовским. Постель приобретает плавность форм, белый цвет простыни и пододеяльника превращается в холодный стальной, лишенный теплоты и пастозности, при этом - обволакивающий, словно туман, загадочный призрачный цвет...<br/>
                    Однажды я позабыла в моей постели белье. Когда я взглянула, вспомнила "Ледяные горы в Антарктиде" Айвозовского! Постель в тот момент выглядела, точно антарктический пейзаж: холодный белый айсберг в холодном Северо-Ледовитом океане...<br/>
                    Моя постель ночью - едва различимый ландшафт Горной Шории. Скудный свет из окна позволяет разглядеть валуны в виде подушки с тяжелой вмятиной посередине и прилегающие равнины простыни, в плавных изгибах которых на перине едва улавливаются очертания моего тела. Цвет ночи густой, иссиня черный и мягкий, мистический...<br/><br/><br/>
                    <span class="author">октябрь/ноябрь 2012, Gridchinhall</span>
                </p>
            </div>
        </div>
        <div id="carousel" class="carousel">
            <ul>
                <li img="2_1.jpg" style="background: url(/Content/img/gallery/2_1_middle.jpg) no-repeat center center;"></li>
                <li img="2_2.jpg" style="background: url(/Content/img/gallery/2_2_middle.jpg) no-repeat center center;"></li>
                <li img="2_3.jpg" style="background: url(/Content/img/gallery/2_3_middle.jpg) no-repeat center center;"></li>
                <li img="2_4.jpg" style="background: url(/Content/img/gallery/2_4_middle.JPG) no-repeat center center;"></li>
                <li img="2_5.jpg" style="background: url(/Content/img/gallery/2_5_middle.jpg) no-repeat center center;"></li>
                <li img="2_6.jpg" style="background: url(/Content/img/gallery/2_6_middle.JPG) no-repeat center center;"></li>
                <li img="2_7.jpg" style="background: url(/Content/img/gallery/2_7_middle.jpg) no-repeat center center;"></li>
                <li img="2_8.jpg" style="background: url(/Content/img/gallery/2_8_middle.JPG) no-repeat center center;"></li>
                <li img="2_9.jpg" style="background: url(/Content/img/gallery/2_9_middle.JPG) no-repeat center center;"></li>
                <li img="2_10.jpg" style="background: url(/Content/img/gallery/2_10_middle.jpg) no-repeat center center;"></li>
                <li img="2_11.jpg" style="background: url(/Content/img/gallery/2_11_middle.JPG) no-repeat center center;"></li>
                <li img="2_12.jpg" style="background: url(/Content/img/gallery/2_12_middle.JPG) no-repeat center center;"></li>
            </ul>
        </div>
    </div>
    <div id="project3" class="item">
        <hr/>
        <h2>@Resources.Resources.Project3_Name</h2>
        <div class="image-container">
            <div class="big-view">
                <a href="@Url.Content("~/Content/img/gallery/3_1.jpg")" data-lightbox="project3"title="2012. Холст, масло. 180х165">
                    <img src="@Url.Content("~/Content/img/gallery/3_1.jpg")"/>
                </a>
                <a href="@Url.Content("~/Content/img/gallery/3_2.jpg")" data-lightbox="project3" title="2012. Холст, масло. 170х130"></a>
                <a href="@Url.Content("~/Content/img/gallery/3_3.jpg")" data-lightbox="project3" title="2012. Холст, масло. 170х135"></a>
            </div>
            <div class="description">
                <div class="short">
                    <p>Мотивацией к созданию экспериментальных работ к проекту "Кукольная антропология" стала идея поместить игрушечный предмет в человеческую среду, материальный мир, то есть мир взрослых. Мне хотелось искусственно создать ситуацию, идентичную к реальной жизни, в которой мы находимся. Мне хотелось наряжать предмет моего эксперимента в реальную взрослую одежду, увлечь предмет прочтением глянцевого журнала, ознакомить предмет с правилами утреннего Make-up перед зеркалом. То есть создать условия, при которых предмет сможет ощутить себя столь же реальным, как любой человек...</p>
                    <a class="show-all">Читать далее</a>
                </div>
                <p class="full">
                    Мотивацией к созданию экспериментальных работ к проекту "Кукольная антропология" стала идея поместить игрушечный предмет в человеческую среду, материальный мир, то есть мир взрослых. Мне хотелось искусственно создать ситуацию, идентичную к реальной жизни, в которой мы находимся. Мне хотелось наряжать предмет моего эксперимента в реальную взрослую одежду, увлечь предмет прочтением глянцевого журнала, ознакомить предмет с правилами утреннего Make-up перед зеркалом. То есть создать условия, при которых предмет сможет ощутить себя столь же реальным, как любой человек. Важно было добиться момента, когда грань между предметом и человеком беспрепятственно сотрется в сознании предмета и предмет станет полноправным членом общества. Нюанс в том, что предмет непременно не замечает странности происходящего и чувствует себя исключительно естественно в этой ситуации...<br /><br/><br/>
                </p>
                <p class="image-name">2012. Холст, масло. 180х165</p>
            </div>
        </div>
        <div id="carousel" class="carousel">
            <ul>
                <li img="3_1.jpg" style="background: url(/Content/img/gallery/3_1_middle.jpg) no-repeat center center;"></li>
                <li img="3_2.jpg" style="background: url(/Content/img/gallery/3_2_middle.jpg) no-repeat center center;"></li>
                <li img="3_3.jpg" style="background: url(/Content/img/gallery/3_3_middle.jpg) no-repeat center center;"></li>
            </ul>
        </div>
    </div>
    <div id="project6" class="item">
        <hr/>
        <h2>@Resources.Resources.Project6_Name</h2>
        <div class="image-container">
            <div class="big-view images">
                <a href="@Url.Content("~/Content/img/gallery/6_1.jpg")" data-lightbox="project6"title="2008. Холст, масло. 195х160">
                    <img src="@Url.Content("~/Content/img/gallery/6_1.jpg")"/>
                </a>
                <a href="@Url.Content("~/Content/img/gallery/6_2.jpg")" data-lightbox="project6" title="2008. Холст, масло. 195х160"></a>
                <a href="@Url.Content("~/Content/img/gallery/6_3.jpg")" data-lightbox="project6" title="2008. Холст, масло. 195х160"></a>
            </div>
            <div class="big-view video" style="display: none;">
                <iframe width="350" height="230" src="http://www.youtube.com/embed/KgFXKDE8Kp0" frameborder="0" allowfullscreen rel="0"></iframe>
            </div>
            <div class="description">
                <p>
                    Серия портретов ювелирных украшений, чьи изображения настолько преувеличены, что едва умещаются на больших холстах. Возможно преувеличены не столько изображения, сколько раздуто и преувеличено внимание к ним?<br/><br/><br/>
                </p>
                <p class="image-name">2008. Холст, масло. 195х160</p>
            </div>
        </div>
        <div id="carousel" class="carousel">
            <ul>
                <li img="6_1.jpg" style="background: url(/Content/img/gallery/6_1_middle.jpg) no-repeat center center;"></li>
                <li img="6_2.jpg" style="background: url(/Content/img/gallery/6_2_middle.jpg) no-repeat center center;"></li>
                <li img="6_3.jpg" style="background: url(/Content/img/gallery/6_3_middle.jpg) no-repeat center center;"></li>
            </ul>
        </div>
    </div>
    <div id="project4" class="item">
        <hr/>
        <h2>@Resources.Resources.Project4_Name</h2>
        <div class="image-container">
            <div class="big-view">
                <a href="@Url.Content("~/Content/img/gallery/4_11.jpg")" data-lightbox="project4"title="2006 - 2007. Холст, масло. 145х120">
                    <img id="test" src="@Url.Content("~/Content/img/gallery/4_11.jpg")"/>
                </a>
                <a href="@Url.Content("~/Content/img/gallery/4_22.jpg")" data-lightbox="project4" title="2006 - 2007. Холст, масло. 145х120"></a>
                <a href="@Url.Content("~/Content/img/gallery/4_33.jpg")" data-lightbox="project4" title="2006 - 2007. Холст, масло. 145х120"></a>
                <a href="@Url.Content("~/Content/img/gallery/4_44.jpg")" data-lightbox="project4" title="2006 - 2007. Холст, масло. 145х120"></a>
                <a href="@Url.Content("~/Content/img/gallery/4_55.jpg")" data-lightbox="project4" title="2006 - 2007. Холст, масло. 145х120"></a>
                <a href="@Url.Content("~/Content/img/gallery/4_66.jpg")" data-lightbox="project4" title="2006 - 2007. Холст, масло. 145х120"></a>
                <a href="@Url.Content("~/Content/img/gallery/4_77.jpg")" data-lightbox="project4" title="2006 - 2007. Холст, масло. 145х120"></a>
                <a href="@Url.Content("~/Content/img/gallery/4_88.jpg")" data-lightbox="project4" title="2006 - 2007. Холст, масло. 145х120"></a>
                <a href="@Url.Content("~/Content/img/gallery/4_99.jpg")" data-lightbox="project4" title="2006 - 2007. Холст, масло. 145х120"></a>
                <a href="@Url.Content("~/Content/img/gallery/4_110.jpg")" data-lightbox="project4" title="2006 - 2007. Холст, масло. 145х120"></a>
                <a href="@Url.Content("~/Content/img/gallery/4_111.jpg")" data-lightbox="project4" title="2006 - 2007. Холст, масло. 145х120"></a>
                <a href="@Url.Content("~/Content/img/gallery/4_112.jpg")" data-lightbox="project4" title="2006 - 2007. Холст, масло. 145х120"></a>
                <a href="@Url.Content("~/Content/img/gallery/4_113.jpg")" data-lightbox="project4" title="2006 - 2007. Холст, масло. 145х120"></a>
            </div>
            <div class="description">
                <div class="short">
                    <p>Серия ранних работ, где главные персонажи - старые игрушки. В случайно подсмотренных бытовых ситуациях можно встретить сходство с реалистичными пейзажеми, которые заменили современному человеку любимые предметы домашнего уюта: диван, ковёр, обои...</p>
                    <a class="show-all">Читать далее</a>
                </div>
                <p class="full">
                    Серия ранних работ, где главные персонажи - старые игрушки. В случайно подсмотренных бытовых ситуациях можно встретить сходство с реалистичными пейзажеми, которые заменили современному человеку любимые предметы домашнего уюта: диван, ковёр, обои.<br/>Серия Игрушки об инфантилизме современного человека, о его несостоятельности и нежелании взрослеть. О том, как искусственное замещает естественное. Почему именно старые игрушки? Потому что современные игрушке мимикрируют под настоящих, живых людей и животных, а мне хотелось сделать именно игрушки.<br/><br/><br/>
                </p>
                <p class="image-name">2006 - 2007. Холст, масло. 145х120</p>
            </div>
        </div>
        <div id="carousel" class="carousel">
            <ul>
                <li img="4_11.jpg" style="background: url(/Content/img/gallery/4_11_middle.jpg) no-repeat center center;"></li>
                <li img="4_22.jpg" style="background: url(/Content/img/gallery/4_22_middle.jpg) no-repeat center center;"></li>
                <li img="4_33.jpg" style="background: url(/Content/img/gallery/4_33_middle.jpg) no-repeat center center;"></li>
                <li img="4_44.jpg" style="background: url(/Content/img/gallery/4_44_middle.jpg) no-repeat center center;"></li>
                <li img="4_55.jpg" style="background: url(/Content/img/gallery/4_55_middle.jpg) no-repeat center center;"></li>
                <li img="4_66.jpg" style="background: url(/Content/img/gallery/4_66_middle.jpg) no-repeat center center;"></li>
                <li img="4_77.jpg" style="background: url(/Content/img/gallery/4_77_middle.jpg) no-repeat center center;"></li>
                <li img="4_88.jpg" style="background: url(/Content/img/gallery/4_88_middle.jpg) no-repeat center center;"></li>
                <li img="4_99.jpg" style="background: url(/Content/img/gallery/4_99_middle.jpg) no-repeat center center;"></li>
                <li img="4_110.jpg" style="background: url(/Content/img/gallery/4_110_middle.jpg) no-repeat center center;"></li>
                <li img="4_111.jpg" style="background: url(/Content/img/gallery/4_111_middle.jpg) no-repeat center center;"></li>
                <li img="4_112.jpg" style="background: url(/Content/img/gallery/4_112_middle.jpg) no-repeat center center;"></li>
                <li img="4_113.jpg" style="background: url(/Content/img/gallery/4_113_middle.jpg) no-repeat center center;"></li>
            </ul>
        </div>
    </div>
    <div id="project5" class="item">
        <hr/>
        <h2>@Resources.Resources.Project5_Name</h2>
        <div class="image-container">
            <div class="big-view images">
                <a href="@Url.Content("~/Content/img/gallery/5_1.jpg")" data-lightbox="project5"title="Комната в горох. Инсталляция. 2008. Сессия молодого искусства Переучёт. С.-Петербург">
                    <img src="@Url.Content("~/Content/img/gallery/5_1.jpg")"/>
                </a>
                <a href="@Url.Content("~/Content/img/gallery/5_2.jpg")" data-lightbox="project5" title="Картина в горох. 2012. Холст, масло, багет. 40х30"></a>
                <a href="@Url.Content("~/Content/img/gallery/5_3.jpg")" data-lightbox="project5" title="Комната в горох. Инсталляция. 2011. Международный симпозиум современного искусства Nord Art. Германия"></a>
                <a href="@Url.Content("~/Content/img/gallery/5_4.jpg")" data-lightbox="project5" title="Комната в горох. Фрагмент инсталляции. 2011. Международный симпозиум современного искусства Nord Art. Германия"></a>
            </div>
            <div class="big-view video" style="display: none;">
                <iframe width="350" height="230" src="http://www.youtube.com/embed/KgFXKDE8Kp0" frameborder="0" allowfullscreen rel="0"></iframe>
            </div>
            <div class="description">
                <p>
                    Ироничная инсталляция на тему дизайна, моды и гламура. Игра в безумного декоратора, одержимого идеей-фикс - модным орнаментом, увлечение которым вкупе с желанием быть в тренде, несколько преувеличенно.<br/><br/><br/>
                </p>
                <p class="image-name">Комната в горох. Инсталляция. 2008. Сессия молодого искусства Переучёт. С.-Петербург</p>
            </div>
        </div>
        <div id="carousel" class="carousel">
            <ul>
                <li img="5_1.jpg" style="background: url(/Content/img/gallery/5_1_middle.jpg) no-repeat center center;"></li>
                <li img="5_2.jpg" style="background: url(/Content/img/gallery/5_2_middle.jpg) no-repeat center center;"></li>
                <li img="5_3.jpg" style="background: url(/Content/img/gallery/5_3_middle.jpg) no-repeat center center;"></li>
                <li img="5_4.jpg" style="background: url(/Content/img/gallery/5_4_middle.JPG) no-repeat center center;"></li>
                <li img="video" style="background: url(/Content/img/gallery/video.png) no-repeat center center;"></li>
            </ul>
        </div>
    </div>
</div>

<div class="right-panel">
    <div class="right-menu">
        <a href="#project1" class="small-item">
            <div class="img" style="background: url(/Content/img/gallery/1_1_small.jpg) no-repeat center center;"></div>
            <div class="name">
                <p>@Resources.Resources.Project1_Name</p>
            </div>
        </a>
        <a href="#project2" class="small-item">
            <div class="img" style="background: url(/Content/img/gallery/2_1_small.jpg) no-repeat center center;"></div>
            <div class="name">
                <p style="margin-top: 23px;">@Resources.Resources.Project2_Name</p>
            </div>
        </a>
        <a href="#project3" class="small-item">
            <div class="img" style="background: url(/Content/img/gallery/3_1_small.jpg) no-repeat center center;"></div>
            <div class="name">
                <p>@Resources.Resources.Project3_Name</p>
            </div>
        </a>
        <a href="#project6" class="small-item">
            <div class="img" style="background: url(/Content/img/gallery/6_1_middle.jpg) no-repeat center right;"></div>
            <div class="name">
                <p>@Resources.Resources.Project6_Name</p>
            </div>
        </a>
        <a href="#project4" class="small-item">
            <div class="img" style="background: url(/Content/img/gallery/4_11_middle.jpg) no-repeat center center;"></div>
            <div class="name">
                <p>@Resources.Resources.Project4_Name</p>
            </div>
        </a>
        <a href="#project5" class="small-item">
            <div class="img" style="background: url(/Content/img/gallery/5_1_middle.jpg) no-repeat center right;"></div>
            <div class="name">
                <p>@Resources.Resources.Project5_Name</p>
            </div>
        </a>
    </div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('.carousel').scrollingCarousel({
		    looped: true
		});

		$('.carousel li').click(function () {
		    if ($(this).attr('img') == 'video') {
		        $(this).parent().parent().parent().find('.big-view.images').hide();
		        $(this).parent().parent().parent().find('.big-view.video').show();
		        $(this).parent().parent().parent().find('.description .image-name').html('Фильм в горох');
		        return;
		    } else {
		        $(this).parent().parent().parent().find('.big-view.images').show();
		        $(this).parent().parent().parent().find('.big-view.video').hide();
		        $(this).parent().parent().parent().find('.big-view.video').html('<iframe width="350" height="230" src="http://www.youtube.com/embed/KgFXKDE8Kp0" frameborder="0" allowfullscreen rel="0"></iframe>');
		    }

	        $(this).parent().parent().parent().find('.big-view img').attr('src', '/Content/img/gallery/' + $(this).attr('img'));

	        var title = $(this).parent().parent().parent().find('.big-view a[href="/Content/img/gallery/' + $(this).attr('img') + '"]').attr('title');
	        $(this).parent().parent().parent().find('.big-view a[href="/Content/img/gallery/' + $(this).attr('img') + '"]').attr('title', $(this).parent().parent().parent().find('.big-view a:first').attr('title'));
	        $(this).parent().parent().parent().find('.big-view a:first').attr('title', title);
	        
            $(this).parent().parent().parent().find('.big-view a[href="/Content/img/gallery/' + $(this).attr('img') + '"]').attr('href', $(this).parent().parent().parent().find('.big-view a:first').attr('href'));
            $(this).parent().parent().parent().find('.big-view a:first').attr('href', '/Content/img/gallery/' + $(this).attr('img'));

	        $(this).parent().parent().parent().find('.description .image-name').html(title);
	    });

	    $('.show-all').click(function() {
	        $(this).parent().hide();
	        $(this).parent().next().show();
	    });
	    
	    if (window.location.pathname.split('/').length == 5) {
	        var project = window.location.pathname.split('/').reverse()[1];
	        var id = window.location.pathname.split('/').reverse()[0];
	        
	        $('html, body').animate({
	            scrollTop: $("#" + project).offset().top
	        }, 1000);

	        $('#' + project + ' #carousel li[img*="_' + id + '.jpg"]').click();
	    }
	    
	    var offset = $(".right-menu").offset();

	    $(window).scroll(function () {
	        if ($(window).scrollTop() > offset.top) {
	            $(".right-menu").css({ 'top': '10px', 'position': 'fixed' }); /* тут можно задать отступ от верхней границы, в данном случае это 10 px */
	        }
	        else {
	            $(".right-menu").css({ 'top': offset.top, 'position': 'static' });
	        };
	    });
	});
</script>