@{
    ViewBag.Title = Resources.Resources.Home;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="pano" cellspacing="0" cellpadding="0">
    <tr class="row">
        <td class="pano-element" style="background: url(/Content/img/home_pano/1_1.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project2", @id = 1 })"></a></td>
        <td class="pano-element" style="background: url(/Content/img/home_pano/2_55.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project4", @id = 55 })"></a></td>
        <td class="pano-element" style="background: url(/Content/img/home_pano/3_2.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project3", @id = 2 })"></a></td>
        <td class="pano-element" style="background: url(/Content/img/home_pano/4_113.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project4", @id = 113 })"></a></td>
        <td class="pano-element" style="background: url(/Content/img/home_pano/5_11.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project2", @id = 11 })"></a></td>
        <td class="pano-element" style="background: url(/Content/img/home_pano/6_112.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project4", @id = 112 })"></a></td>
    </tr>
    <tr class="row">
        <td class="pano-element" style="background: url(/Content/img/home_pano/7_22.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project4", @id = 22 })"></a></td>
        <td class="pano-element" style="background: url(/Content/img/home_pano/8_10.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project2", @id = 10 })"></a></td>
        <td class="pano-element" style="background: url(/Content/img/home_pano/9_11.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project4", @id = 11 })"></a></td>
        <td class="pano-element" style="background: url(/Content/img/home_pano/10_5.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project2", @id = 5 })"></a></td>
        <td class="pano-element" style="background: url(/Content/img/home_pano/11_1.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project3", @id = 1 })"></a></td>
        <td class="pano-element" style="background: url(/Content/img/home_pano/12_7.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project2", @id = 7 })"></a></td>
    </tr>
    <tr class="row">
        <td class="pano-element" style="background: url(/Content/img/home_pano/13_8.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project2", @id = 8 })"></a></td>
        <td class="pano-element" style="background: url(/Content/img/home_pano/14_3.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project3", @id = 3 })"></a></td>
        <td class="pano-element" style="background: url(/Content/img/home_pano/15_12.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project2", @id = 12 })"></a></td>
        <td class="pano-element" style="background: url(/Content/img/home_pano/16_1.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project1", @id = 1 })"></a></td>
        <td class="pano-element" style="background: url(/Content/img/home_pano/17_4.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project2", @id = 4 })"></a></td>
        <td class="pano-element" style="background: url(/Content/img/home_pano/18_2.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project3", @id = 2 })"></a></td>
    </tr>
    <tr class="row">
        <td class="pano-element" style="background: url(/Content/img/home_pano/19_111.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project4", @id = 111 })"></a></td>
        <td class="pano-element" style="background: url(/Content/img/home_pano/20_9.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project2", @id = 9 })"></a></td>
        <td class="pano-element" style="background: url(/Content/img/home_pano/21_2.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project5", @id = 2 })"></a></td>
        <td class="pano-element" style="background: url(/Content/img/home_pano/22_3.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project2", @id = 3 })"></a></td>
        <td class="pano-element" style="background: url(/Content/img/home_pano/23_99.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project4", @id = 99 })"></a></td>
        <td class="pano-element" style="background: url(/Content/img/home_pano/24_6.jpg) no-repeat center center;"><a href="@Url.Action("Gallery", new { @project = "project2", @id = 6 })"></a></td>
    </tr>
</table>

@*@if (ViewBag.NoPromo)
{
    <div class="promo" style="display: none;"></div>
}
else
{
    <div class="promo"></div>
}*@


<script type="text/javascript">
    $(document).ready(function() {
        setTimeout(function() {
            $('.promo').animate({
                opacity: 0,
            }, 1000, function () {
                
            });
        }, 3000);
        setTimeout(function () {
            $('.promo').hide();
        }, 5000);
    });
</script>